.app {
  background-image: url("../assets/study-background.png");
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00203f;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.header {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.close-button:hover {
  color: #ff6347;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
}

p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.main-button,
.secondary-button {
  background: rgba(0, 164, 224, 0.1); /* Adding transparency */
  border: none;
  border-radius: 25px;
  color: white;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  outline: none;
  backdrop-filter: blur(10px); /* Adding blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease; /* Smooth transition */
}

.secondary-button {
  background: rgba(0, 164, 224, 0.1);
  border: 1px solid rgba(0, 164, 224, 0.5); /* Semi-transparent border */
}

.main-button:hover,
.secondary-button:hover {
  background: rgba(0, 164, 224, 0.2);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 2rem;
}

.footer span {
  cursor: pointer;
}
