.Home {
  color: white;
  font-family: "Arial", sans-serif;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.glassify {
  margin: 50% 5%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1); /* Transparent background */
  backdrop-filter: blur(15px); /* Blur effect */
}

.flag {
  width: 100px; /* Adjust the size as needed */
  height: auto;
}
