.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #00203f;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.flag {
  width: 100px; /* Adjust the size as needed */
  height: auto;
}
