.halfBackgroundQuiz {
  background-image: url("../assets/statue.png");
  background-size: cover;
  height: 25vh;
}

.container {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  margin: 0 auto;
}

.pagination {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.pagination button {
  background: rgba(0, 164, 224, 0.1); /* Transparent background */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin: 1px;
  font-size: 0.8em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  backdrop-filter: blur(10px); /* Blur effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.pagination .active {
  background-color: rgba(10, 49, 97, 0.7); /* Semi-transparent active color */
}

.pagination button:hover {
  background-color: rgba(10, 49, 97, 0.5); /* Semi-transparent hover color */
  transform: translateY(-2px);
}

.quiz-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1); /* Transparent background */
  backdrop-filter: blur(15px); /* Blur effect */
  margin: 20px;
  max-width: 500px;
  min-width: 200px;
  transition: background-color 0.3s ease;
}

.quiz-container:hover {
  background: rgba(255, 255, 255, 0.2); /* Slightly more opaque on hover */
}

.question-text {
  padding: 15px;
  font-size: 1.3em;
  color: #000;
  margin-bottom: 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background: rgba(249, 249, 249, 0.8); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
}

.option {
  border-radius: 5px;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.option button {
  background: rgba(179, 25, 66, 0.7); /* Semi-transparent background */
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  backdrop-filter: blur(5px); /* Blur effect */
}

.option .selected {
  background-color: rgba(10, 49, 97, 0.7); /* Semi-transparent selected color */
}

.option button:hover {
  background-color: rgba(10, 49, 97, 0.5); /* Semi-transparent hover color */
  transform: translateY(-2px);
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.buttonContainer span {
  cursor: pointer;
}
