.container {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  margin: 0 auto;
  height: 100vh;
}

.pagination {
  margin: 50px 20px 20px 20px;

  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.pagination button {
  background-color: #00a4e0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  margin: 1px;
  font-size: 0.8em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.pagination .active {
  background-color: rgb(10, 49, 97);
}

.pagination button:hover {
  background-color: rgb(10, 49, 97);
  transform: translateY(-2px);
}

.quiz-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  background-color: #fff;
  margin: 20px;
  max-width: 500px;
  min-width: 200px;
}

.question-text {
  padding: 15px;
  font-size: 1.3em;
  color: #000;
  margin-bottom: 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.option {
  border-radius: 5px;
  margin: 5px 0;
  transition: transform 0.3s ease;
}

.option button {
  background-color: rgb(179, 25, 66);
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.option .selected {
  background-color: rgb(10, 49, 97);
}

.option button:hover {
  background-color: rgb(10, 49, 97);
  transform: translateY(-2px);
}
