.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Glassmorphic blur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.menu-header {
  width: 230px;
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Glassmorphic blur */
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.readingContainer {
  margin: 50px 0;
  min-width: 300px;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Glassmorphic blur */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.dropdown-toggle {
  padding: 10px;
  width: 100%;
  background: rgba(199, 0, 0, 0.7); /* Semi-transparent background */
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(5px); /* Glassmorphic blur */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, box-shadow 0.3s;
}

.dropdown-toggle:hover {
  background: rgba(0, 86, 179, 0.7);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dropdown-icon {
  margin-left: 10px;
}

.dropdown-menu {
  color: black;
  text-align: left;
  padding: 5px;
  display: block;
  background: rgba(249, 249, 249, 0.7); /* Semi-transparent background */
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  border-radius: 5px;
}

.dropdown-menu li {
  list-style: none;
}
