.Home {
  display: flex;
  flex-direction: column;
}

.homeHeader {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 2rem;
  align-items: center;
  margin-top: 20%;
}

.homeButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.homeButtonContainer button {
  background-color: rgb(179, 25, 66);
  width: 160px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 15px;
  margin: 2px 0;
  font-size: 1em;
  transition: background 0.3s, transform 0.3s;
}

.homeButtonContainer button:hover {
  background-color: rgba(255, 126, 126, 0.4);
  transform: scale(1.05);
}
