.halfBackground {
  text-align: center;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-position: center;
  height: 40vh;
  color: white;
}

.trf {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30%;
  width: 100%;
}

.trf img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}

.resultScore {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30px;
}

.resultButtonContainer {
  position: absolute;
  bottom: 20%;
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

.resultButtonContainer button {
  background-color: rgb(179, 25, 66);
}
