.readingContainer {
  margin-top: 50px;
  width: 100%;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.dropdown-toggle {
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.dropdown-toggle:hover {
  background-color: #0056b3;
}

.dropdown-icon {
  margin-left: 10px;
}

.dropdown-menu {
  padding: 5px;
  display: block;
  background-color: #f9f9f9;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
  margin-top: 5px; /* space between button and dropdown */
}

.dropdown-menu li {
  list-style: none;
}
