body,
html,
#root {
  margin: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.App {
  text-align: center;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.quiz-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quiz-container h1 {
  font-size: 2rem;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.start-button,
.bottom-buttons button {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.start-button:hover,
.bottom-buttons button:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.05);
}

.bottom-buttons {
  display: flex;
  justify-content: center;
}
